<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
    
    <title layout:fragment="title">JOBES | Set Password</title>

    <div layout:fragment="content">
        <div class="login-area pt-120 mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-wrapper">
                            <div class="form-title">
                                <h3>Set Your Password!</h3>
                                <span></span>
                            </div>
                            <form action="" method="post" th:object="${passwordDTO}">
                                <div class="row">
                                    <div class="col-lg-12 mb-25">
                                        <div 
                                            class="form-inner"
                                            th:classappend="${#fields.hasErrors('password')} ? 'error' : '' ">
                                            
                                            <label for="password">Password*</label>
                                            <input 
                                                type="password" 
                                                name="password" 
                                                id="password" 
                                                th:value="*{password}"
                                                placeholder="Enter new Password" />
                                        </div>
                                        <span th:errors="*{password}" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-12 mb-25">
                                        <div 
                                            class="form-inner"
                                            th:classappend="${#fields.hasErrors('reenterPassword')} ? 'error' : '' ">
                                            
                                            <label for="password1">Reenter Password*</label>
                                            <input 
                                                type="password" 
                                                name="reenterPassword" 
                                                id="password1" 
                                                th:value="*{reenterPassword}"
                                                placeholder="Renter your Password" />
                                        </div>
                                        <span th:errors="*{reenterPasword}" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-inner">
                                            <button class="primry-btn-2" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>    
