<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Details</title>
    </head>

    <body>
        <h1>Job Details</h1>
        <hr>
        avaliblePosts : <p>[[${job.avaliblePosts}]]</p>
        experince : <p>[[${job.experince}]]</p>
        jobTitle : <p>[[${job.jobTitle}]]</p>
        jobDiscription : <p>[[${job.jobDiscription}]]</p>
        companyAddress : <p>[[${job.companyAddress}]]</p>
        companyName : <p>[[${job.companyName}]]</p>
        companyWebsiteUurl : <p>[[${job.companyWebsiteUurl}]]</p>
        hrEmail : <p>[[${job.hrEmail}]]</p>
        hrName : <p>[[${job.hrName}]]</p>
    </body>
</html>